@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  min-height: 100vh;
  background-color: #111b2b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar{
  background-color: #fff;
}

.navbar-brand img{
  height: 70px;
}

img{
  width: 80%;
  margin: 1.2em 0 0 7em;

}


/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 280px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px 30px 40px;
  
} 


header{
  color: #ed9439;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

form :where(i, p){
  color: #ed9439;
}

form i{
  font-size: 50px;
}

.fa-cloud{
  text-align: center;
}

.text{
  color: #a3a3a3;
  font-size: 12px;
}


.btn {
  text-decoration: none;
  background-color: #ed9439;
  color: #111b2b;
  padding: 10px 20px;
  width: 150px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.upload{
    margin: 30px 50px;
    width: 150px;
    align-items: center;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #111b2b;
  padding: 10px 20px;
  border: #111b2b;
  outline: 1px solid #010101;
}

.upload:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #111b2b;
    padding: 10px 20px;
    border: #111b2b;
    outline: 1px solid #010101;
}



.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

